* {
    box-sizing: border-box;
    }
    
    .content {
    display: flex;
    flex-direction: column;
    }
    
    body {
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;
    background-image: url("https://i.pinimg.com/originals/4b/28/38/4b283868bcc048649f65ee838d23ff10.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    }
    
    .header {
    text-align: center;
    background: gray;
    padding: 10px;
    }
    
    .header h1 {
    font-size:px;
    }
    
    .leftcol {
    float: left;
    width: 85%;
    color: white;
    }
    
    .rightcol {
    float: left;
    width: 15%;
    background-color:gray;
    padding-left:5px;
    height: 100%;
    }
    
    ul.nav1 {
    width: 200px;
    position: fixed;
    oveflow: auto;
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: black;
    right: 10px;
    }
    
    ul.nav1 li {
    border-bottom: 1px solid white;
    }
    
    .menu {
    border-bottom: 1px solid white;
    display: block;
    color: white;
    padding: 7px 10px;
    }
    
    ul.nav1 li:last-child {
    border-bottom: none;
    }
    
    ul.nav1 li a {
    display: block;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    }
    
    .nav2 {
    position: sticky;
    top:0;
    }
    
    .nav2 a{
    float: left;
    dislay: block;
    background-color: black;
    width: 33.3%;
    padding: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
    }
    
    a:hover {
    background-color: blue;
    }
    
    a:active {
    background-color: blue;
    }

    .footer{
        background-image: url("https://images.unsplash.com/photo-1485236715568-ddc5ee6ca227?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
        background-repeat: none;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        text-align: center;
        min-height: 100px;
        padding: 45px 0px;
    }
    .footer a{
        text-decoration: none;
    }

